body{
    background-color: #0f121f;
    background-image: url(sike.jpg);
    background-repeat: no-repeat; 
    color: #0f121f;
}

body *{
    font-family: Ubuntu;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin: 0;
}
a,a:hover,a:visited{
    color: #fff;
    text-decoration: none;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1{
    text-align: center;
    margin: 100 px auto;
    font-size: 2.4en;
}